html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Varela Round', sans-serif;
}
/* Container
================================= */

.container{
  margin: 50px auto 40px;
  width: 900px;
  height: 800px;
  border: 1px solid #777;
}

/* Header 
================================= */
header{
  padding:0;
  height: 180px;
  box-shadow: 0 2px 0 -1px #777;
}
.smile, .logo{
  display: inline-block;
}
.smile{
  width:250px;
  height: 100%;
  margin:0;
  box-shadow: 2px 0 0 -1px #777;
  text-align: center;
}
.smile > img{
  margin-top: 15px;
  width:150px;
}
.logo{
  width:630px; /* 900 - 250  */
  text-align: center;
  padding-top:20px;
  margin-top:0;
  vertical-align: top;
}
.logo > img{
  margin-top:0;
  width:280px;
}
h1 {
  font-size: 55px;
  margin:auto;
  margin-bottom:20px;
}

/* Words / Input
================================= */
.words{
  box-shadow: 0 2px 0 -1px #777;
  padding-bottom: 15px;
}
h3{
  font-size: 30px;
  margin-left:30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.inputs{
  margin-left:55px;
}
input{
  width: 200px;
  height: 30px;
  outline: 0;
  font-size: 18px;
  margin: 5px 0px 25px 35px;
  border-radius: 3px;
  border: 2px solid #777;
  display:inline-block;
  color: #959595;
}

/* Content
================================= */
.content{
  padding-left: 30px;
  padding-right: 30px;
}
p{
  margin: 30px;
  font-size: 25px;
  word-spacing: 5px;
}
span{
  color: #959595;
  text-decoration: underline;
}





























