html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Varela Round', sans-serif;
  background-color: #e75f48;
}
/* Container
================================= */

.container{
  margin: 50px auto 40px;
  width: 900px;
  height: 825px;
  background-color: #FFF;
}

/* Header 
================================= */

/*e75f48 - orange
569e86 - teal
e8ac2f - mustard
e3e2e2 - light grey*/

header{
  height: 160px;
}

h1 {
  font-family: Paytone One;
  color: #e75f48;
  font-size: 75px;
  padding-top: 50px;
  padding-left: 290px;
}

h3{
  font-size: 25px;
  margin-left: 60px;
  margin-bottom: 35px;
  color: #e75f48;
  font-family: Paytone One;
}

.top {
  margin-left: 90px;
}

.inputs{
  margin-left: 55px;
}

input{
  width: 200px;
  height: 30px;
  font-size: 18px;
  margin: 5px 0px 35px 35px;
  border: none;
  display:inline-block;
  color: #828282;
  background-color: #e3e2e2;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Lora;
}

.content{
  padding-left: 30px;
  padding-right: 30px;
}

p{
  margin: 0px 60px;
  font-size: 18px;
  word-spacing: 5px;
  font-family: Lora;
  line-height: 28px;
  text-align: justify;
  color: #e75f48;
}

span{
  color: #e75f48;
}





























